
body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.home{
  background-image: url("./assets/weatherAPP.jpg");
  background-size: cover;
  height: 50vh; 
  width: 100vw;
  position: relative;
  background-position: center;
  overflow: hidden;
  margin-bottom:600px;
}

.location-input {
  width: 40%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 top: 1000px;
}

.location-input input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-input button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.location-input button:hover {
  background-color: #3e8e41;
}